<footer>
  <div class="logo">
    <a href="/"><img src="img/logo.png" alt="HookaHub"></a>
  </div>
  <div class="info">
    <div class="sub-info"><a href="/info">О проекте</a></div>
    <div class="sub-info"><a href="/search-hookah">Кальяны</a></div>

  </div>
  <div class="social">
    <a href="https://t.me/HookahHub"><i class="icon fab fa-telegram"></i></a>
    <a href="https://instagram.com/hookahhub.hh"><i class="icon fab fa-instagram"></i></a>
  </div>
</footer>