<div class="wrapper">
  <header class="wrapper_header">
    <nav class="mobile-navi">
      <button class="burgerbtn openButton"><i class="fas fa-bars"></i></button>
      <div class="menu-block">

        <nav class="mobile-menu menujs">
          <ul>
            <li class="openButton"><a href="/artciles">Статьи</a></li>
            <li class="openButton"><a href="#">Новинки</a></li>
            <li class="openButton"><a href="#">Обзоры</a></li>
            <li class="openButton"><a href="#">#<span class="hh">hh</span>_миксы</a></li>
            <li class="openButton"><a href="/info">О проекте</a></li>
            <li class="openButton"><a href="#">Реклама</a></li>
          </ul>
        </nav>
      </div>
      <div class="logo">
        <a href="/"><img src="img/logo.png" alt="HookaHub"></a>
      </div>
      <div class="navi-bar">
        <ul>
          
          <li><a href="/articles">Статьи</a></li>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Обзоры</a></li>
          <li><a href="#">#<span class="hh">hh</span>_миксы</a></li>
          <li><a href="/auth">Вход</a></li>
        </ul>
      </div>
      <div class="find">
        <input type="text" id="search" placeholder="Поиск..." class="special-input">
        <button class="search_btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </nav>

  </header>
</div>