<!DOCTYPE html>
<html lang="en">
  <%- include('../blocks/head.ejs'); %>
  <body>
    <div class="container">
      <%- include('../blocks/header.ejs'); %>

      <div class="content">
        <main>
          <div class="menubarSeparator"></div>
          <div id="root"></div>
          <div class="page-end"></div>
        </main>
      </div>
      <%- include('../blocks/footer.ejs'); %>
    </div>

    <script src="../js/main.js"></script>
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="../js/api.js" type="text/babel"></script>
  </body>
</html>
