<!DOCTYPE html>
<html lang="en">
	<%- include('../blocks/head.ejs'); %>
<body>
	<div class="container">
	<%- include('../blocks/header.ejs'); %>
	<div class="content">
		<main>
			<div class="menubarSeparator"></div>
			<section class="main xxx">
				<div class="postSection">
					<div class="post  large">
						<a class="postURL" href="/week-mix">
					<div class="cardWrapper">
						<figure class="cardImg" style="background-image: url(img/1.jpg)"></figure>
					</div> 
					<div class="cardoverlay"></div>
					<div class="cardTitle">
						<h2 class="cardName">Микс-недели</h2>
						<p class="cardDescription"></p>
					</div>
						</a>
					</div>
				</div>
				<div class="postSection">
					<div class="post  small">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/2.png)"></figure>
							</div> 
							<div class="cardoverlay"></div>
						<div class="cardTitle">
							<h2 class="cardName">Про угли</h2>
							<p class="cardDescription"></p>
						</div>
						</a>
					</div>
				<div class="post  small"> 
					<a class="postURL" href="#">
						<div class="cardWrapper">
							<figure class="cardImg" style="background-image: url(img/3.png)"></figure>
						</div>
						<div class="cardoverlay"></div>
						<div class="cardTitle">
							<h2 class="cardName">Кальян-самоделка</h2>
							<p class="cardDescription"></p>
						</div>
					</a>
				</div>
				<div class="post  small" >
					<a class="postURL" href="#">
						<div class="cardWrapper">
							<figure class="cardImg" style="background-image: url(img/4.png)"></figure>
						</div> 
						<div class="cardoverlay"></div>
						<div class="cardTitle">
							<h2 class="cardName">Миксология для самых маленьких</h2>
							<p class="cardDescription"></p>
						</div>
					</a>
					</div>
				</div>
				<div class="postSection">
					<div class="post  medium">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/5.jpg)"></figure>
							</div> 
							<div class="cardoverlay"></div>
							<div class="cardTitle">
								<h2 class="cardName">Хочешь много дыма?</h2>
								<p class="cardDescription"></p>
							</div>
						</a>		
					</div>
					<div class="post  medium">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/6.jpg)"></figure>
							</div> 
							<div class="cardeoverlay"></div>
							<div class="cardTitle">
								<h2 class="cardName">Забивка слоями</h2>
								<p class="cardDescription"></p>
							</div>
						</a>
					</div>
				</div>
				<div class="postSection">
					<div class="post small">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/7.jpg)"></figure>
							</div> 
							<div class="cardoverlay"></div>
							<div class="cardTitle">
								<h2 class="cardName">Красивая подача</h2>
								<p class="cardDescription"></p>
							</div>
						</a>
					</div>
					<div class="post small">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/8.jpg)"></figure>
							</div> 
							<div class="cardoverlay"></div>
							<div class="cardTitle">
								<h2 class="cardName">Кальян на фруктах</h2>
								<p class="cardDescription"></p>
							</div>
						</a>
					</div>
					<div class="post small">
						<a class="postURL" href="#">
							<div class="cardWrapper">
								<figure class="cardImg" style="background-image: url(img/9.jpg)"></figure>
							</div>
							<div class="cardeoverlay"></div>
							<div class="cardTitle">
								<h2 class="cardName">Миксология для любителей</h2>
								<p class="cardDescription"></p>
							</div>
						</a>
					</div>		
				</div>
			</section>
			<div class="page-end"></div>
		</main>
	</div>
	<%- include('../blocks/footer.ejs'); %>
	</div>
	
	<script src="../js/main.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</body>
</html>