<!DOCTYPE html>
<html lang="en">
	<%- include('../blocks/head.ejs'); %>
<body>
	<div class="container">
	<%- include('../blocks/header.ejs'); %>
		<div class="content">

			<div class="menubarSeparator"></div>	
			<div class="progress"></div>
			<section class="main">
					<article class="post-headline">
						<div class="headline">
							<span class="author_content">HookahHub💨</span>
							<span class="post_time"><i class="far fa-clock" aria-hidden="true"></i><span>2 часа назад</span></span>
							<span class="check"><i class="far fa-eye" aria-hidden="true"></i>100</span>
						</div>
						<div class="name-info">
							<h1>Кино-микс недели уже на ваших экранах</h1>
							<p>Два идеальных микса для сладкоежек</p>
						</div>
					</article>
					<section class="article_img" style="background-image: url(../../img/1.jpg)"></section>
					<section class="article_desc">
						<p>Почему кино-микс? Сейчас поймете!</p>
						<p>Как знаете, на этих выходных в прокат вышел новый "Джокер", который ваши любимые админы уже посмотрели и остались в диком восторге, всем, кто не видел - рекомендуем </p>
						<p>Этот микс мы решили посвятить именно ему и погрузить вас в романтику просмотра любимого фильма</p>
						<p><span class="mix">Gixom|Serbetli - PopCorn 35% +  Adalya|Alfakher - Caramel 55% +  MustHave|Darkside - Pistachio 10% - на выходе получите ароматный попкорн обильно залитый карамелью с орешками</span></p>
						<p><span class="or">ИЛИ</span></p>
						<p><span class="mix">Daft|Darkside - Cheesecake 40% + Adalya - Caramel 50% + DeadHorse - Cheese 10% - нежный творожный чизкейк с соленой карамелью - для настоящих гурманов</span></p>
						<p>Если зашли миксы - ставьте ❤️ и мы будем чуть более счастливы.</p>
					</section>
					<div class="like-content">
					  <button class="btn-secondary like-review">
					    <i class="fa fa-heart" aria-hidden="true"></i> Like
					  </button>
					</div>
			</section>
			<div class="page-end"></div>
			
		</div>
	<%- include('../blocks/footer.ejs'); %>
	</div>
	<script src="../../js/articles.js"></script>
	<script src="../../js/main.js"></script>	
</body>
</html>